global:
  scrape_interval: 5s
  evaluation_interval: 5s

# Configuration Alertmanager
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - alertmanager:9093

rule_files:
  - /etc/prometheus/alerts.yml

scrape_configs:
  - job_name: "processor"
    static_configs:
      - targets: ["host.docker.internal:8000"]
